"$schema" = "https://starship.rs/config-schema.json"

add_newline = true
scan_timeout = 30
command_timeout = 500

format = """
[█](fg:#2A2633)\
$os\
$directory\
$git_state\
$git_branch\
$git_status\
[](fg:#2A2633)\
$fill\ 
$docker_context\
$kubernetes\
$aws\
$gcloud\
$terraform\
$package\
$nodejs\
$python\
$rust\
$golang\
$php\
$java\
$lua\
$ruby\
$dotnet\
$swift\
$haskell\
$elixir\
$crystal\
$cmd_duration\
$time\
\n$character
"""

[os]
disabled = false
style = "bg:#2A2633 fg:#A454FF"
format = "[ 󰣇 ]($style)"

[directory]
style = "bg:#2A2633 fg:#9780FF"
truncation_length = 2
truncation_symbol = ""
truncate_to_repo = false
home_symbol = "~"
format = "[ $path ]($style)"

[git_state]
style = "bg:#F056FF fg:#2A2633"
format = "[  $state( $progress_current/$progress_total ) ]($style)"

[git_branch]
style = "bg:#2A2633 fg:#B167E9"
symbol = ""
format = "[ $symbol $branch ]($style)"

[git_status]
conflicted  = "[ ≠${count} ](bg:#2A2633 fg:#F48FFF)"
ahead       = "[ ⇡${count} ](bg:#2A2633 fg:#AB61FF)"
behind      = "[ ⇣${count} ](bg:#2A2633 fg:#A454FF)"
diverged    = "[ ⇕⇡${ahead_count}⇣${behind_count} ](bg:#2A2633 fg:#C77DFF)"
up_to_date  = "[ · ](bg:#2A2633 fg:#78728B)"

untracked   = "[ ?${count} ](bg:#2A2633 fg:#A591FF)"
stashed     = "[ *${count} ](bg:#2A2633 fg:#B167E9)"
modified    = "[ !${count} ](bg:#2A2633 fg:#E086F9)"
staged      = "[ +${count} ](bg:#2A2633 fg:#8977D9)"
renamed     = "[ »${count} ](bg:#2A2633 fg:#9780FF)"
deleted     = "[ ✘${count} ](bg:#2A2633 fg:#F056FF)"
typechanged = "[ ~${count} ](bg:#2A2633 fg:#E896FF)"

format = "$all_status$ahead_behind"

[fill]
symbol = " "

[docker_context]
style = "fg:#9780FF"
format = "[ $context]($style) "

[kubernetes]
disabled = false
style = "fg:#9780FF"
format = "[󱃾 $context(:$namespace)]($style) "

[aws]
style = "fg:#E086F9"
symbol = " "
format = "[$symbol$profile(@$region)]($style) "

[gcloud]
style = "fg:#9780FF"
symbol = "󰅟 "
format = "[$symbol$account(@$domain)(:$project)(@$region)]($style) "

[terraform]
style = "fg:#B167E9"
symbol = "󱁢 "
format = "[$symbol$workspace]($style) "

[package]
style = "fg:#DDCEF3"
symbol = "󰏗 "
format = "[$symbol$version]($style) "

[nodejs]
style = "fg:#9780FF"
symbol = " "
format = "[$symbol$version]($style) "

[python]
style = "fg:#9780FF"
symbol = " "
format = "[$symbol $version$virtualenv]($style) "

[rust]
style = "fg:#9780FF"
symbol = " "
format = "[$symbol$version]($style) "

[golang]
style = "fg:#9780FF"
symbol = " "
format = "[$symbol$version]($style) "

[php]
style = "fg:#9780FF"
symbol = " "
format = "[$symbol$version]($style) "

[java]
style = "fg:#9780FF"
symbol = " "
format = "[$symbol$version]($style) "

[lua]
style = "fg:#9780FF"
symbol = " "
format = "[$symbol$version]($style) "

[ruby]
style = "fg:#9780FF"
symbol = " "
format = "[$symbol$version]($style) "

[dotnet]
style = "fg:#9780FF"
symbol = "󰪮 "
format = "[$symbol$version]($style) "

[swift]
style = "fg:#9780FF"
symbol = " "
format = "[$symbol$version]($style) "

[haskell]
style = "fg:#9780FF"
symbol = " "
format = "[$symbol$version]($style) "

[elixir]
style = "fg:#9780FF"
symbol = " "
format = "[$symbol$version]($style) "

[crystal]
style = "fg:#9780FF"
symbol = "󰚩 "
format = "[$symbol$version]($style) "

[cmd_duration]
min_time = 0
show_milliseconds = true
style = "fg:#9780FF"
format = "[ took $duration at]($style)"

[time]
disabled = false
time_format = "%H:%M"
style = "fg:#9780FF"
format = "[ $time ]($style)"

[character]
success_symbol = "[●](fg:#C77DFF)"
error_symbol   = "[▲](fg:#F056FF)"
vimcmd_symbol  = "[■](fg:#9780FF)"
