# -------------------- 
# Font Settings
# --------------------
font_family JetBrainsMono Nerd Font
bold_font auto
italic_font auto
bold_italic_font auto
bold_italic_font auto
# Size
font_size 12.0

# --------------------
# Ligatures 
# --------------------
disable_ligatures never # enable ligatures

# --------------------
# Cursor Settings
# --------------------
cursor_shape beam
cursor_blink_interval 0.5
# Color when text is selected
cursor_text_color {{terminal['background']}}

# --------------------
# Mouse Settings
# --------------------
mouse_hide_wait 2.0

# --------------------
# Urls
# --------------------
url_style curly
url_color {{terminal['blue']}}

# --------------------
# Window
# --------------------
window_padding_width 24
active_border_color {{terminal['magenta']}}
inactive_border_color {{terminal['black']}}
window_border_width 1.0
draw_minimal_borders true
placement_strategy center
background_opacity 0.4

# --------------------
# Tabs
# --------------------
# Layout
tab_bar_edge top
tab_bar_margin_height 24.0 0.0
tab_bar_margin_width 16.0
# Style
tab_bar_style separator
tab_separator ""
tab_title_template " {index} • {title} "
# Font Styles
active_tab_font_style bold
inactive_tab_font_style normal
# Colors
active_tab_foreground {{terminal['background']}}
active_tab_background {{terminal['blue']}}
inactive_tab_foreground {{terminal['bright-black']}}
inactive_tab_background {{terminal['black']}}

# --------------------
# Other Settings
# --------------------
enable_audio_bell no
scrollback_lines 10000
confirm_os_window_close 0
selection_foreground {{terminal['background']}}
selection_background {{terminal['foreground']}}

# --------------------
# Terminal Colors
# --------------------
color0 {{terminal['black']}}
color1 {{terminal['red']}}
color2 {{terminal['green']}}
color3 {{terminal['yellow']}}
color4 {{terminal['blue']}}
color5 {{terminal['magenta']}}
color6 {{terminal['cyan']}}
color7 {{terminal['white']}}
color8 {{terminal['bright-black']}}
color9 {{terminal['bright-red']}}
color10 {{terminal['bright-green']}}
color11 {{terminal['bright-yellow']}}
color12 {{terminal['bright-blue']}}
color13 {{terminal['bright-magenta']}}
color14 {{terminal['bright-cyan']}}
color15 {{terminal['bright-white']}}

background {{terminal['background']}}
foreground {{terminal['foreground']}}
cursor {{terminal['cursor']}}
